<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="PizzaRush"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <!-- Activity 1: Login — LAUNCHER (punto de entrada) -->
        <activity android:name="com.example.pizzarush.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity 2: Registro / Datos -->
        <activity android:name="com.example.pizzarush.RegistroActivity"
            android:exported="false"/>

        <!-- Activity 3: Resumen del pedido -->
        <activity android:name="com.example.pizzarush.ResumenActivity"
            android:exported="false"/>

        <!-- Activity 4: Menú del restaurante -->
        <activity android:name="com.example.pizzarush.MenuActivity"
            android:exported="false"/>

    </application>

</manifest>